* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

.header {
    float: left;
    width: 100%;
  background-image:url('https://image.shutterstock.com/z/stock-photo-golf-ball-isolated-on-white-391641406.jpg');
  }

 #main-background {
    margin: 0 auto;
    color: #000;
    font-family: Helvetica Bold,Helvetica,Arial,sans-serif!important;
}

#mainheader {
	position: relative;
    background-color: transparent;
    border: 0;
    margin: 15px auto;
    margin-top: 0px;
    max-width: 1250px;
    display: block;
}
img {
    max-width: 100%;
    max-height: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: 0;
}

#socialBar li {
	float: left;
}

#socialBar li a {
	display: block;
	text-align: center;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: -5px;
}

#main-background {
   max-width: 100%;
   max-height: 10%;
}

.footer-main {
	position: relative;	
	width: 100%;
  	background-color: black;
}

.product-background {
	background-color: #F7F8E0;
	border-radius: 2%;
	padding: 10px;
	margin-bottom: 15px;
}

.product-logo {
	overflow: hidden;
	position: relative;
	margin: auto;
}

.product-header {
	margin: 10px;
}
.product-order {
	background: white;
	font: green;
	border-color: green;
	text-align: center;
	position: relative;
	/*float: right;*/
}

.product-order:hover {
    background-color: grey;
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
    color: black;
}


.product-rows {
	margin-top: 1vw;
}

#wrapper {
    background-image: url("./img/grass.jpg");
    background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	}



div label {
	margin-top: .1vw;
	margin-bottom: .1vw;
	font-size: 1.15vw;

}
.inputBox {
	max-width: 100%;
	max-height: 2vw;
	margin-top: .1vw;
	margin-bottom: .1vw;
}

.nav-item {/*
    position: relative;*/
    vertical-align: middle;
    width: auto;
}

.nav-item>a {
    color: black;
    padding: 2px;
    vertical-align: bottom;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.nav-item a:hover {
    cursor: pointer;
    background-color: #555;
    color: green;
}

.subContainerHeader {
	font-size: 1.7em;
}

.contentWrapper {
	position: relative;
    background-color: transparent;
    border: 0;
    margin: 15px auto 0px;
    max-width: 1170px;
    display: block;
}

.sidebarRight {  
    position: fixed;
    /*height: auto;*/
    padding-bottom: 10px; 
    right: 0;
    bottom: 10;
}

.sidebarLeft {
	position: fixed;
    /*height: auto;*/
    padding: 10px; 
    left: -2px;
    bottom: 10;
    max-width: 200px;
}

#socialBar {
	float: right;
    padding: 0.35em;
/*    background-color: black;
*/    height: 2.3em;
}

#q {
	/*border-color: transparent;*/
	border-bottom: 1px solid black;
}

.socialIcons {
	margin-top: -8px !important;
}
.nav-menu {
	margin: 0;
	width: auto;
	border-spacing: 1px;
	border-collapse: separate;
	padding: 5px;
}

.nav-menu li {
	float: left;
}

.nav-menu li a {
	display: block;
	text-align: center;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: -5px;
}

#boganmenu li {
	float: left;
}

#boganmenu li a {
	display: block;
	text-align: center;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: -5px;
}

#boganmenu {
	float: left;
	padding: 0.35em;
	/*box-sizing: border-box;*/
	display: inline;
}

.fa {
  padding: 10px;
  font-size: px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.productImage {
	max-height: 100%;
	max-width: 100%;
}

form {
	display: block;
}